<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{controller}}</title>
    </head>
    <body>
        <h1>{{controller}}</h1>
        <p>これは{{prev_action}}から{{action}}に送られたものです。</p>
        <p>{{message}}</p>
        <p><a href="/other/{{action}}/{{message}}">NEXT PAGE</a></p>

    </body>
</html>